## Monitoria 2 - Econometría
### Pontificia Universidad Javeriana
#### Análisis de Regresión Multiple - En proceso de creación

El objetivo de este documento es dar ejemplos de los tipos de regresiones que podemos realizar y de como se hacen en Python. Tanto de sus formas funcionales como de los tipos de regresores (variables continuas, binarias, interacciones, etc.)

In [1]:
import pandas as pd 
import numpy as np 
import os 

pathout = './data/'
if not os.path.exists(pathout):
    os.mkdir(pathout) 
    pathgraphs = './graphs/'
    if not os.path.exists(pathgraphs): 
        os.mkdir(pathgraphs)

Con las variables anteriores vamos a realizar algunas regresiones y comentaremos nuestros resultados.

In [7]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

## Regresión Nivel - nivel

## Regresión Nivel - Log

## Regresión Log - Nivel

Para este tipo de regresión importaremos una base de datos que contiene información sobre 526 trabajadores para el año 1976. Supongamos que estamos interesados en determinar el efecto de la educación sobre el salario por hora de los trabajadores. Este salario, lo tendremos en logaritmo, por lo que tendremos una interpretación Log - Nivel

In [15]:
d1 = pd.read_stata(pathout + 'WAGE1.dta')
d1.head(5)

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4

####  Nuestra variable dependiente de interés
- lwage:Variable con información del salario por hora de los trabajadores en logaritmo

####  Nuestra variable independiente de interés:

- educ: Variable con información de los años de educacion de los trabajadores 

#### Nuestros controles:

- exper Variable con información de los años de experiencia del trabajador
- expersq: Variable "exper" al cuadrado
- female: Variable binaria que indica si el trabajador es hombre o mujer

In [23]:
X1 = d1[['educ','exper' , 'expersq' , 'female']] 
X1 = sm.add_constant(X1)
Y = d1.lwage

In [24]:
reg1 = sm.OLS(endog=Y, exog=X1,)
reg1 = reg1.fit()
print(reg1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.400
Model:                            OLS   Adj. R-squared:                  0.395
Method:                 Least Squares   F-statistic:                     86.69
Date:                Tue, 11 May 2021   Prob (F-statistic):           2.03e-56
Time:                        20:06:05   Log-Likelihood:                -279.27
No. Observations:                 526   AIC:                             568.5
Df Residuals:                     521   BIC:                             589.9
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.3905      0.102      3.820      0.000       0.190       0.591
educ           0.0841      0.007     12.094      0.000       0.070       0.098
exper          0.0389      0.005      8.067      0.000       0.029       0.048
expersq       -0.0007      0.000     -6.389      0.000      -0.001      -0.000
female        -0.3372      0.036     -9.283      0.000      -0.409      -0.266
==============================================================================
Omnibus:                        7.110   Durbin-Watson:                   1.776
Prob(Omnibus):                  0.029   Jarque-Bera (JB):               10.533
Skew:                           0.007   Prob(JB):                      0.00516
Kurtosis:                       3.693   Cond. No.                     4.44e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.44e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Ahora teniendo en cuenta que wage esta en logaritmos y educ esta en niveles diremos que:

##### Al aumentar en un año la educación de las personas, su salario por hora aumentaría en promedio en 8.41%, manteniendo lo demás constante. Esta estimación resulta ser altamente significativa. 

La estimación obtenida para el regresor educ se multiplica por 100.

## Regresión Log - Log